<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="icon"   href="https://img.icons8.com/color/344/javascript--v1.png" type="image/png" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/error.css')}}">
    <title>ERROR 404</title>
</head>
<body>
    <div class="container">
        <img class='error-img' src="{{url_for('static',filename='img/error404.png')}}" alt=" error 404 ">
            <h2 class="text">La pagina no esta disponible</h2>
            <button class="botom"><a href="/">Volver atras</a></button>
            
            
    </div>
</body>
</html>