{%extends 'layout.html'%}
{% block content%}
<div class="forms">
       <h1 class="inf">Agregar informacion</h1>
       <form class="forms-1" action="/add" method="POST">

           {{ form.hidden_tag() }}
           {{ form.nombre(class_ = 'form') }}
            {% for error in form.nombre.errors %}
                <span style = "color:red">{{error}}</span>
            {%endfor%}

            {{ form.correo(class_ = 'form') }}
            {% for error in form.correo.errors %}
                <span style = "color:red">{{error}}</span>
            {%endfor%}

            {{ form.telefono(class_ = 'form') }}
            {% for error in form.telefono.errors %}
                <span style = "color:red">{{error}}</span>
            {%endfor%}
            {{ form.fecha(class_ = 'form') }}
            {% for error in form.fecha.errors %}
                <span style = "color:red">{{error}}</span>
            {%endfor%}

            {{ form.submit(class_ = 'botons') }}


       </form>
  </div>
{%endblock%}