<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/register.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link  rel="icon"   href="https://img.icons8.com/color/344/javascript--v1.png" type="image/png" />
    <title>Registro </title>
</head>
<body >
    {%include('partials/_navbar_login_form.html')%}
    {% block content%}
    {%endblock%}

    <div class="div-register">

        {% with messages = get_flashed_messages() %}

            {% if messages%}
                {% for message in messages%}
                     <h4  style="text-align:center; color:red; >{{message}}</h4>
                 {% endfor %}
            {% endif%}

        {% endwith %}

        <h1 class="welcome">Registro</h1>
        <div class="line">
            <span class="line1"></span>
            <svg class="lock" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="2em" height="2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><g fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M5 15v15h22V15Zm4 0C9 9 9 5 16 5s7 4 7 10m-7 5v3"/><circle cx="16" cy="24" r="1"/></g></svg>
            <span class="line2"></span>
        </div>



        <form action="/register" method="POST">

            <input class="form" type="text" name="username" placeholder="Nombre de usuario"   required="required">
            <input class="form" type="text" name="email" placeholder="Correo" id="email" required="required">
            <input class="form" type="password" name="password" placeholder="Contraseña"   required="required">
            <button class="botons" type="submit" >Registrar</button>

        </form>
    </div>

<script>

    document.getElementById('email').addEventListener('onclick', function() {
    campo = event.target;
    valido = document.getElementById('emailOK');

    emailRegex = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
    if (emailRegex.test(campo.value)) {
      valido.innerText = "válido";
    } else {
      valido.innerText = "incorrecto";
    }
});
</script>

</body>
</html>
